* {
  margin: 0;
  padding: 0;
}

body {
  background: steelblue;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #2e323f;
}

header,
.header__nav,
.footer__nav-links-groups {
  text-align: center;
}

.header__nav li,
.call-to-action {
  text-transform: uppercase;
  color: white;
}

nav ul {
  font-size: 1.5rem;
}

nav li {
  margin-top: 0.5rem;
}

.call-to-action {
  background-color: #a59678;
  border-radius: 2rem;
  padding: 0.25rem 0.75rem;
}

.header__hero {
  text-align: left;
  background-color: #3b4050;
}

.header__main-title {
  color: #fff;
}

.alt-header-text {
  color: #a59678;
}

.header__main-content {
  color: #fff;
}

.header__main-content p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.row {
  padding: 2rem 2rem;
}

@media (min-width: 700px) {
  .row {
    display: flex;
  }
}
