* {
  margin: 0;
  padding: 0;
}

body {
  background: steelblue;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header,
.header__nav {
  text-align: center;
}

.header__hero {
  text-align: left;
}
